@import "tailwindcss";

html {
  @apply bg-[#231F20] /*bg-slate-800 */ text-gray-200 text-xs font-mono p-10 bg-[url(/assets/bg-stripes.svg)];

  background-image: url(/assets/bg-stripes.svg);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

button {
  @apply bg-blue-600 text-gray-100 font-bold py-2 px-4 rounded cursor-pointer;
}
button:hover {
  @apply bg-blue-700;
}


select {
  @apply bg-gray-800 text-gray-200 border border-gray-200 font-bold py-2 rounded;
}

#source .bp, #source .bp.address{
  @apply bg-red-600 text-gray-100 font-bold rounded;
}

#source .hl, #source .hl .address {
  /* @apply bg-yellow-500 text-gray-800 font-bold py-2 px-4 rounded; */
  @apply bg-gray-200 text-gray-800 font-bold rounded;
}

#source .address {
  @apply text-blue-400 font-bold cursor-pointer;
}
